<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WCFHelpers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WCFHelpers.Properties.Settings>
            <setting name="WCFHelpers_WsfSvcAuthentication_Authentication"
                serializeAs="String">
                <value>http://localhost/_vti_bin/Authentication.asmx</value>
            </setting>
            <setting name="WCFHelpers_WebSvcSiteData_SiteData" serializeAs="String">
                <value>http://localhost/_vti_bin/SiteData.asmx</value>
            </setting>
        </WCFHelpers.Properties.Settings>
    </applicationSettings>
</configuration>